<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Loading in stylesheets -->
    <link rel="stylesheet" href="/assets/styles/main.css">
    <link rel="stylesheet" href="/assets/styles/frontpage.css">
    <link rel="stylesheet" href="/assets/styles/nav.css">
    <link rel="stylesheet" href="/assets/styles/boxes.css">
    <link rel="stylesheet" href="/assets/styles/subpage.css">

    <script defer src="https://analytics.alecks.dev/script.js" data-website-id="2f79e82a-b4e5-443a-a3c7-eabea5c9dd61"></script>

    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.webp">

    <title><%- title %> | Alecks</title>

</head>
<body>

    <%- include('partials/navbar') %>

    <div class="subpage-container" style="margin-bottom: 15px;">
     <div class="subpage-box">
           <div class="subpage-text-box">
              <h2 class="subpage-text subpage-text-small" style="margin-bottom: 1px; font-size: 16px;"><%- date %> ~ <i><%- author %></i></h2>
              <h2 class="subpage-text subpage-text-title" style="margin-top: 10px; margin-bottom: 1px;"><%- title %></h2>
              <h2 class="subpage-text subpage-text-small" style="margin-top: 10px; font-size: 18px;"><%- description %></h2>
              <a class="subpage-text subpage-text-small subpage-link" style="margin-bottom: 1px;" href="/posts">Return to posts</a>
           </div>
         </div>
    </div>     

    <div class="subpage-container">
     <div class="subpage-box">
        
        <div class="subpage-text-box">
         <div class="subpage-text"><%- content %></div>
         
         </div>
        </div>     

      </div>
    </div>


    <div style="margin-bottom: 200px;"></div>

</body>
</html>